.type-table-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    padding-top: 12vh;
}

.type-table-page-container h2 {
    text-align: center;
    margin: 5vh;
    font-size: 1.6rem;
}